.add-new-apartment {
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.4);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: orangered;
}

.add-apartment__btn {
  background-color: orangered;
  color: white;
  font-size: 2.5rem;
  width: 30px;
}

.add__text {
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 1.2rem;
  margin-left: 15px;
}
