.add-new-apartment {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: #1f51ff;
}

.add-apartment__btn {
  background-color: #1f51ff;
  color: white;
  font-size: 2.5rem;
  width: 30px;
  max-height: 45px;
}

.add__text {
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 1.2rem;
  margin-left: 15px;
}
