.all-apartments-light {
  background-color: white;
  color: black;
}

.all-apartments-dark {
  background-color: #121212;
  color: white;
}

.all-apartments__header {
  margin-left: 25px;
}

.add-new-apartment {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: #1f51ff;
}

.add__text {
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: 1.2rem;
  margin-left: 15px;
}
