.banner-light {
  color: black;
  object-fit: contain;
  height: 350px;
  background-image: url("/public/images/bannerchartthree.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: black 2px solid;
}

.banner-dark {
  color: white;
  object-fit: contain;
  height: 350px;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)),
    url("/public/images/bannerchartthree.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: black;
  border-bottom: solid 2px #0a2351;
}

.banner-info {
  width: 360px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-left: 0rem;
}

.banner__header {
  margin-top: 65px;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 1.5rem;
}

.banner__text {
  margin-bottom: 1.5rem;
  text-align: left;
  margin-left: 1.5rem;
  max-width: 215px;
  font-weight: medium;
}

.banner__btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #1f51ff;
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  border: none;
  margin-left: 1.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .banner-info {
    width: 300px;
  }
}
