.summary-container {
  background-color: white;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.summary-wrapper {
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.4);
  border-radius: 10px;
  margin-bottom: 15px;
}

.cashflow-container {
  height: 160px;
  background-color: #1f51ff;
  border-radius: 10px;
  margin: 15px;
}

.cashflow__hd {
  margin-top: 25px;
  text-align: center;
  color: white;
}

.cashflow__value {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.left__summary {
  max-width: 500px;
}

.summary__header {
  margin: 15px;
}

.summary-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  max-width: 500px;
}
.summary__label {
  margin-left: 15px;
  width: 140px;
}

.summary__value {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.summary__value__row {
  /* width: 160px; */
  width: 330px;
  text-align: right;
  font-weight: medium;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.summary__second {
  width: 300px;
  margin-left: 15px;
  margin-bottom: 4px;
}

.left__summary__second {
  width: 300px;
}

.apartment-number-row {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  gap: 1.5em;
}

.row-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-icon {
  color: #1f51ff;
  margin-top: 10px;
  margin-left: 10px;
}
.add-icon {
  color: #1f51ff;
  margin-top: 12px;
  margin-left: 7px;
}

.delete-icon {
  color: #1f51ff;
  margin-top: 12px;
  margin-left: 35px;
  cursor: pointer;
}

.apartment-number {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.row-tax {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.medium-br {
  display: block;
  margin-bottom: 1.2rem;
}
