.summary-container {
  background-color: white;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.summary-wrapper {
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.4);
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
}

.left__summary {
  width: 160px;
}

.change-tax__btn {
  text-align: center;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  height: 25px;
  width: 100px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

.right__summary {
  width: 140px;
  margin-top: 75px;
  height: 140px;
  background-color: #1f51ff;
  border-radius: 50%;
}

.circle__label {
  margin-top: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.circle__label.tax {
  margin-top: 5px;
  text-align: center;
  color: white;
  font-weight: normal;
}

.circle__value {
  margin-top: 15px;
  text-align: center;
  color: white;
  font-weight: 1.2rem;
  font-weight: bold;
}

.summary__header {
  margin: 15px;
}

.summary__label {
  margin-left: 15px;
  margin-bottom: 4px;
}

.summary__value {
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.summary__second {
  width: 300px;
  margin-left: 15px;
  margin-bottom: 4px;
}

.left__summary__second {
  width: 300px;
}

.apartment-number-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}
.home-icon {
  margin-top: 15px;
  margin-left: 15px;
  color: #1f51ff;
}

.apartment-number {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

@media only screen and (min-width: 400px) {
  .right__summary {
    margin-left: 15%;
  }
}

@media only screen and (min-width: 370px) {
  .right__summary {
    margin-left: 8%;
  }
}
