.apartment-slide {
  width: 100%;
}

.apartment-grid {
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.apartment-container {
  max-width: 640px;
  height: 350px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.4);
  margin: 1.5rem;
  border-radius: 20px;
}

.add-apartment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.add-apartment__btn {
  color: orangered;
  font-size: 8rem;
}

.header-container {
  height: 60px;
  background-color: orangered;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.apartment__header {
  height: 30px;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
}

.row-apartment {
  display: flex;
  max-width: 490px;
  margin-top: 20px;
}
.apartment__label {
  margin-left: 10px;
  text-align: left;
  width: 125px;
}
.apartment__data {
  width: 160px;
  text-align: right;
  font-weight: bold;
}

.apartment__data.rent {
  width: 300px;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
