.footer-container {
  margin-top: 150px;
  height: 300px;
  width: 100%;
  border-top: solid 2px black;
}

.footer__header {
  text-align: center;
  padding: 1.5rem;
}

p {
  text-align: center;
  padding: 1rem;
}
